.header {
  display: flex;
  flex-direction: row;
  background-color: #ddd8e4;
}

/* Not necessary to set a size since the <Image> tag handles sizing automatically. But it can be done anyway. */
.header > img {
  height: 3rem;
  width: 3rem;
}

.header > a {
  text-decoration: none;
}

.title {
  margin: 0;
  margin-left: 1.5rem;
  color: black;
  align-self: center;
  font-size: 2rem;
}
