.header {
  display: flex;
  flex-direction: row;
  background-color: #ddd8e4;
}

/* Not necessary since the <Image> tag handles sizing automatically. But it can be done anyway. */
.header > img {
  /* width: 5rem; */
}

.header > a {
  text-decoration: none;
}

.header > h1 {
  margin: 0;
  margin-left: 1.5rem;
  color: black;
  align-self: center;
}
